@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: "Inter", sans-serif;
    
}

.sobre{
    color: white;
    background-color: #1CBFFF;
    padding: 60px;
    border-radius: 10px;
    max-width: 800px;
    max-height: 750px;
    text-align: justify;  
    margin-top: 120px;  
    
}

.flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 120px;
    

    
}

ul{
    text-align: left;   
    list-style-type: "◆ ";  
    
}
li::marker {
    color: rgb(115, 22, 230);
  }


hr{
    color: white;
    opacity: 0.5;
}

.linha1{
    margin-top: -20px;
    margin-bottom: -8px
}

.linha2{
    margin-top: -20px;
    margin-bottom: -8px
}